<h1>Editing malopoint</h1>

<%= render "form", malopoint: @malopoint %>

<br>

<div>
  <%= link_to "Show this malopoint", @malopoint %> |
  <%= link_to "Back to malopoints", malopoints_path %>
</div>
